* {
  overflow: hidden;
}
.loginScreen {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  min-width: 100vw;
}
.loginScreen__wrapper {
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/70deccb9-9b6c-4be1-b781-18dd1bcd9264/6f1c851d-d736-4184-b8cd-4fab286d3dda/MA-en-20210301-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    center no-repeat;
  background-size: cover;
}

.loginScreen__logo {
  width: 8rem;
  object-fit: contain;
  cursor: pointer;
}

.loginScreen__gradient {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
