.profilescreen {
  color: white;
  height: 100vh;
}
.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  max-width: 800px;
}
.profileScreen__body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #353838;
  margin-bottom: 20px;
}
.profileScreen__info {
  display: flex;
}

.profileScreen__info > img {
  height: 100px;
}
.profileScreen__details {
  margin-left: 25px;
  flex: 1;
}
.profileScreen__details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}
.profileScreen__plans {
  margin-top: 20px;
}
.profileScreen__plans > h3 {
  border-bottom: 1px solid #353838;
  padding-bottom: 10px;
}
.profileScreen__signout {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  color: aliceblue;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .profileScreen__body {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    min-width: 80%;
  }
  .profileScreen__info {
    flex-direction: column;
  }
  .profileScreen__details {
    margin-left: 0;
  }
  .profileScreen__info > img {
    height: none;
    width: 150px;
    margin: auto auto;
    margin-bottom: 10px;
  }
}
