* {
  /* overflow: hidden; */
}
.row {
  overflow-y: hidden;
}
.row > h2 {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.row__poster {
  max-height: 83px;
  object-fit: cover;
  transition: all 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.row__posterLarge:hover {
  transform: scale(1.09);
  border-radius: 3%;
}
.n > h3 {
  text-align: center;
  margin: 0;
  transform: translate(-5%, -130%);
  opacity: 0;
  transition: all 0.5s;
}

.row__posterLarge {
  max-height: 220px;
}
.row__movieitem {
  flex-grow: 1;
}
@media screen and (max-width: 1000px) {
  .row__poster {
    max-height: 95px;
  }
  .row__posterLarge {
    max-height: 240px;
  }
  .row > h2 {
    font-size: 2rem;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
